.Header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5rem 0;
    
}
.Header__text{
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}