.form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input {
    background-color: aliceblue !important;
}
.btn__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black !important;
    border-radius: 3px;
    padding: 2px;
    font-size: 30px;
    margin: 1rem;
}