.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn__submit {
 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    padding: 3px;
    font-size: 2rem;
}