* {
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 5rem;
    color: rgb(153, 43, 226);
    text-decoration: underline;
}
.card {
    border: none !important;
    margin: 10px;

}

.button__card {
    display: flex;
    width: 100%;

    
}

.card__listItem {
    text-decoration: none;
    padding: 30px;
    font-size: 3rem;
    list-style: none;
    color: darkviolet;
    
}
.section__modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0 10px 0;
    padding: 0.7rem;
}