* {
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 5rem;
    color: blueviolet;
    text-decoration: underline;
}
.card {
    border: none !important;
    margin: 10px;

}

.button__card {
    display: flex;
    width: 100%;

    
}

.card__listItem {
    text-decoration: none;
    padding: 30px;
    font-size: 3rem;
    list-style: none;
    color: darkviolet;
    
}