
.card {
    display: flex;
    flex-direction: column;
    background-color: orangered;
    align-items: center;
    justify-content: center;
    border: 1.6px solid rgb(21, 21, 21);
    border-radius: 8px;
    margin: 10px;
  
}

.card__item{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
