
.card {
    display: flex;
    flex-direction: column;
    background: radial-gradient( rgb(202, 202, 195) 15%, rgb(119, 118, 118) 60%);
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 10px;
    width: 18rem;
    height: 23rem;
    
  
}
.card__title {
    font-size: 1.8rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(111, 24, 224);
    
}

.card__item{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgb(23, 23, 22);
    font-size: 1.3rem;
}
.card__span{
    padding: 3px;
    margin: 1px;
    color:rgb(111, 24, 224);
    font-size: 2rem;
}
